.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro_sec {
  margin-top: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f7f4f4;
}
.intro > h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.intro > h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fbdddd;
  letter-spacing: 0.5px;
}

.btnSection {
  margin-top: 36px;
  margin-bottom: 42px;
}

.btnSection .download {
  padding: 16px 28px;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.btnSection .contact_sec {
  padding: 16px 28px;
  border-radius: 10px;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.download {
  text-decoration: none;
  background: rgb(24, 24, 71);
  border: 1px solid rgb(135, 206, 235);
  color: rgb(135, 206, 235);
}
.download:hover {
  background: #ffff;
  color: #2e2b2b;
  transition: 0.6s;
}
.contact_sec {
  background: rgb(135, 206, 235);
  border: none;
  color: #2e2b2b;
}
.contact_sec:hover {
  background-color: #fff;
  transition: 0.5s;
}
.home_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(135, 206, 235);
  width: 100%;
}
@media (max-width: 625px) {
  .home_content {
    display: flex;
    flex-direction: column;
  }
}
.image_sec > img {
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  object-fit: cover;
  width: 350px;
  height: 350px;
  margin-left: 50px;
  /* display: flex; */
}
.social_tags {
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.social_tags > div > a {
  color: skyblue;
}
.paragraph {
  transform: rotate(90deg);
  cursor: pointer;
}
@media (max-width: 625px) {
  .social_tags {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-bottom: 30px;
    width: 100%;
  }
  .btnSection {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .paragraph {
    transform: rotate(0deg);
    margin-top: 30px;
  }
}
